@font-face {
    font-family: Eurofurenceregular;
    src: url('fonts/eurof55.ttf');
}
@font-face {
    font-family: MyriadPro-Regular;
    src: url('fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: AdobeInvisFont;
    src: url('fonts/Lato-Regular.ttf');
}